/*styles.css*/

body {
    font-family: 'PT Sans', sans-serif;
    background-color: rgba(229, 229, 229, 1.0);
    background-image: url("../img/fabric_of_squares_gray.png");
    margin: 0px;
    padding: 0px;
}

header {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    background-color: rgba(38, 38, 38, 1.0);
    color: white;
    /*position: fixed;
    z-index: 100;*/
    height: auto;
    line-height: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

div img.link {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.link {
    height: 200px;
    margin-top: 10px;
    position: relative;
}

div li h3 {
    color: rgba(255, 255, 255, 0.0);
    position: absolute;
    top: 135px;
    left: 0px;
    width: 100px;
}

div h2 {
    margin: 0px;
}

h1 {
    margin: 0px;
}

div li:hover h3 {
    color: white;
    position: absolute;
    top: 135px;
    left: 0px;
    width: 100px;
    padding-left: 15px;
    transition: all 0.5s linear;
}

div li img:hover {
    -webkit-filter: brightness(30%) blur(1px);
    -moz-filter: brightness(30%) blur(1px);
    transition: all 0.5s ease;
}

div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-align: center;
}

div img {
    border-radius: 20px;
}

div.icon_web img {
    border-radius: 0px;
}

div.resume h3 {
    color: rgba(255, 255, 255, 0.0);
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100px;
}

div.resume:hover h3 {
    color: white;
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100px;
    padding-left: 15px;
    transition: all 0.5s linear;
}

div.resume img:hover {
    -webkit-filter: brightness(30%) blur(1px);
    -moz-filter: brightness(30%) blur(1px);
    transition: all 0.5s ease;
}

div.icon_web {
    display: block;
}

div.icon_web:hover {
    -webkit-filter: drop-shadow(16px 16px 3px #CCCCCC);
    -moz-filter: drop-shadow(16px 16px 10px #CCCCCC);
    transition: all 0.5s ease;
}

nav {
    padding: 0;
    margin: 0;
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    height: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}

div a {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
}

div.about a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}

nav li:hover {
    border-color: white;
    background-color: rgba(150, 0, 24, 1.0);
    color: white;
    /*font-family: 'Indie Flower', cursive;*/
    padding-top: 5px;
    transition: all 0.15s linear;
}

.get_funky {
    position: relative;
}

.glasses {
    position: absolute;
    top: -55px;
    left: 120px;
    width: 100px;
    padding-top: 60px;
    opacity: 0.0;
}

.get_funky:hover .glasses {
    position: absolute;
    top: 35px;
    left: 120px;
    width: 100px;
    padding-top: 60px;
    opacity: 1.0;
    transition: all 0.7s linear;
}


/*Remember to check Slack to see if Chris sent the audio files*/


/*div a img:hover .glasses{
    position: absolute;
    top: 135px;
    left: 140px;
    width: 100px;
    padding-top: 60px;
    opacity: 1.0;
    transition: all 0.5s linear;
}*/

nav li.active:hover {
    /*Overrides an issue where hovering over active box would increase the header height*/
    padding-top: 0px;
}

nav li.home:hover {
    padding-top: 0px;
}

.active {
    background-color: rgba(150, 0, 24, 1.0);
    color: white;
    height: 50px;
}

.icon {
    float: left;
    padding: 10px;
}

.icon-font-home {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    float: left;
    padding-top: 2px;
    margin: 0px;
}

.icon-font {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    float: left;
    padding-top: 2px;
    margin: 0px;
}

.container {
    /*background-color: rgba(0, 0, 255, 0.25);*/
}

body > .container {
    padding-top: 20px;
}

div {
    /*background-color: rgba(0, 0, 255, 0.25);*/
    /*background-color: rgba(229, 229, 229, 1.0);*/
    min-height: 100px;
    height: auto;
    /*outline: 1px solid black;*/
    background-clip: content-box;
}

span {
    text-align: center;
}

.sidebar_head {
    text-align: center;
}

.resume {
    height: 200px;
    width: auto;
    overflow: hidden;
}

div .grid_1,
div .grid_2,
div .grid_3,
div .grid_4,
div .grid_5,
div .grid_6,
div .grid_7,
div .grid_8,
div .grid_9,
div .grid_10,
div .grid_11,
div .grid_12 {
    margin-bottom: 10px;
    margin-top: 10px;
    height: auto;
}